<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">

	<listeners>
		<listener class-name = "utilities.ExtentListeners" />
	</listeners>
	<test name="IdentifyBikesTest">
		<classes>
			<class name="test.IdentifyBikes" />

		</classes>
	</test>
	<!-- Test -->
	<test name="ListUsedCars">
		<classes>
			<class name="test.UsedCars" />
		</classes>
	</test>

	<test name="LoginToGoogleTest">
		<classes>
			<class name="test.googleLogin" />
		</classes>
	</test>

</suite> <!-- Suite -->
